header h3{font-weight:bold;}
#urnik ul li{font-family: 'Risque', cursive;font-size:14px;}
.head{text-transform:uppercase;text-align:center;line-height:2;font-family: 'Risque', cursive;}
.main p, .text-main{text-align:center;font-family: 'Risque', cursive;color:#fdfdfd;}
#first-footer .kontakt{text-align:left;}
#last-footer{text-align:center;line-heigth:50%;}
.text-main{text-shadow:1px 2px 3px rgba(135, 129, 131, 1);letter-spacing: 1px;}
.text-main-main{text-shadow:1px 3px 4px rgba(0,0,0,.8);letter-spacing: 2.5px;}
.shadow{-moz-text-shadow:0 2px 3px rgba(0,0,0,1);-webkit-text-shadow:0 2px 3px rgba(0,0,0,1);-me-text-shadow:0 2px 3px rgba(0,0,0,1);text-shadow:0 2px 3px rgba(0,0,0,1);}
.img{transform:rotate(-5deg);}
.kontakt h2{font-size:20px;text-transform:uppercase;font-weight:bold;}
#sredina ol {text-align:left;}
.top-akcije span{display:none;color:red;}






